In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
df = pd.read_csv("cleaned.csv")

In [4]:
df.head()

,Unnamed: 0,Unnamed: 0.1,roundId,roundNumber,roundTimeMillis,killId,tradedByKillId,tradedForKillId,bombId,resId,...,assists,referencePlayerId,eventType,damageType,weapon,impact,attackingWinProbabilityBefore,attackingWinProbabilityAfter,attackingTeamId,matchId
0,10,10,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79333
1,273,273,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79334
2,536,536,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79335
3,799,799,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79336
4,19,19,1236840,3,7680,10022974.0,10022976.0,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.208196,0.509122,0.300925,6344,79333

In [6]:
df.attackingTeamId.unique()

array([6344, 6426,  286,   17,  224,  603, 1625, 1264,  808,  305,   15],
      dtype=int64)

In [11]:
ref = df.query
new = df.query("attackingTeamId == '6344 '") #drop all except
new.head()

,Unnamed: 0,Unnamed: 0.1,roundId,roundNumber,roundTimeMillis,killId,tradedByKillId,tradedForKillId,bombId,resId,...,assists,referencePlayerId,eventType,damageType,weapon,impact,attackingWinProbabilityBefore,attackingWinProbabilityAfter,attackingTeamId,matchId
0,10,10,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79333
1,273,273,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79334
2,536,536,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79335
3,799,799,1236839,2,39807,10022966.0,NaN,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.148896,0.225968,0.077072,6344,79336
4,19,19,1236840,3,7680,10022974.0,10022976.0,NaN,NaN,NaN,...,[],2895.0,kill,weapon,Vandal,0.208196,0.509122,0.300925,6344,79333